/* 
    Created on : 23 juil. 2015, 04:04:26
    Author     : david
*/

body {
    background-color: #245269;
    font-size: 18px; 
}

.part {
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #E6E6E6;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.part-center {
    height : 870px;
}

.chat {
    overflow: auto;
    height: 92%;
}

hr {
    margin-bottom: 10px;
    margin-top: 10px;
    border-color: black;
}